apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "demoapp.fullname" . }}-nginx
data:
  default.conf: |
    server {
      listen 80;

      location / {
        proxy_pass http://{{ include "demoapp.fullname" . }}-backend:{{ .Values.backend.service.port }};
      }
    }
