apiVersion: v1
kind: Service
metadata:
  name: {{ include "demoapp.fullname" . }}-frontend
spec:
  type: ClusterIP
  selector:
    app: {{ .Release.Name }}-frontend
  ports:
    - port: 80
      targetPort: 80
